<div class="w-100">
    <div class="w-100 py-2 px-5 d-flex align-items-center border-top">
        <div class="mr-4" style="width:50px"><img src="/assets/facebook.png" alt="facebook.png"></div>
        <h6 class="font-weight-normal"><a target="_blank" href="https://www.facebook.com/pages/JCO-Donuts-Coffee-Indonesia/43038057791">J.CO Donuts &amp; Coffee, Indonesia</a></h6>
    </div>
    <div class="w-100 py-2 px-5 d-flex align-items-center border-top">
        <div class="mr-4" style="width:50px"><img src="/assets/twitt.png" alt="twitt.png"></div>
        <h6 class="font-weight-normal"><a target="_blank" href="https://twitter.com/jcoindonesia">@JcoIndonesia</a></h6>
    </div>
    <div class="w-100 py-2 px-5 d-flex align-items-center border-top">
        <div class="mr-4" style="width:50px"><img src="/assets/instagram.png" alt="instagram.png"></div>
        <h6 class="font-weight-normal"><a target="_blank" href="https://instagram.com/jcoindonesia">@JcoIndonesia</a></h6>
    </div>
    <div class="w-100 py-2 px-5 d-flex align-items-center border-top border-bottom">
        <div class="mr-4" style="width:50px"><img src="/assets/youtube.png" alt="youtube.png"></div>
        <h6 class="font-weight-normal"><a target="_blank" href="https://www.youtube.com/channel/UC1yUQ6TEReWu_QtFvaZX-SQ">JCO Donuts &amp; Coffee Indonesia </a></h6>
    </div>
</div>