<div class="owl-carousel">
    <div class="swipper-slider"><img src="/assets/index/jcoid_201806_idul_fitri.jpg"/></div>
    <div class="swipper-slider"><img src="/assets/index/jcoid_201805_ramadhan.jpg"/></div>
    <div class="swipper-slider"><img src="/assets/index/jcoid_201805_yuzu.jpg"/></div>
    <div class="swipper-slider"><img src="/assets/index/parfait.png"/></div>
    <div class="swipper-slider"><img src="/assets/index/JCO_ID_Pastry_Cake_Selection_1_-.png"/></div>
    <div class="swipper-slider"><img src="/assets/index/cronbars.jpg"/></div>
    <div class="swipper-slider"><img src="/assets/index/JTART_698X465.png"/></div>
</div>
<script>
    $('.owl-carousel').owlCarousel({
            margin:10,
            items: 1,
            loop:true,
            autoplay:true,
        })
</script>