<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J.CO Indonesia: The Best Donuts, Coffee, Yogurt, Sandwich, and Cronut</title>
    <link rel="shortcut icon" href="/assets/jco.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jco.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="align-items-center col-sm-3 d-flex flex-column">
                <a href="." class="my-3">
                    <img src="/assets/jco.jpg" alt="jco">
                </a>
                <nav class="col-md-8 mx-auto" id="nav">
                    <div class="countryname">INDONESIA</div>
                    <ul class="nav nav-list text-center">
                        <li>
                            <a href="#">Products </a>
                            <svg style="float:right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"><g><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></g></svg>
                            <ul class="dropdown-menu mt-0 p-1" id="product-list">
                            </ul>
                        </li>
                        <li class="nav" data-nav="community"><a href="#">Community</a></li>
                        <li class="nav" data-nav="location"><a href="#">Location</a></li>
                        <li class="nav" data-nav="contact"><a href="#">Contact Us</a></li>
                        <li class="nav" data-nav="franchise"><a href="#">Franchise</a></li>
                        <li class="nav" data-nav="newsroom"><a href="#">Newsroom</a></li>
                        <li class="nav" data-nav="run"><a href="https://jco.run/">J.CO RUN</a></li>
                        <li class="nav" data-nav="shop"><a href="https://www.jcodelivery.com/"><strong>SHOP NOW</strong></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-8">
                <div class="py-3 header">
                    <div class="float-right position-relative" id="select-country">
                        <button type="button" class="btn">
                                <img src="/assets/flags/id.png" alt="id" border="0">
                                <span>JCO Indonesia</span>
                                <svg style="transform: rotate(90deg);fill: currentColor;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"><g><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></g></svg>
                        </button>
                        <ul class="country-menu p-2 position-absolute">
                            <li><a href="#"><img src="/assets/flags/hk.png" alt="id" border="0">Hong Kong</a></li>
                            <li><a href="#"><img src="/assets/flags/id.png" alt="id" border="0">Indonesia</a></li>
                            <li><a href="#"><img src="/assets/flags/my.png" alt="id" border="0">Malaysia</a></li>
                            <li><a href="#"><img src="/assets/flags/ph.png" alt="id" border="0">Philippines</a></li>
                            <li><a href="#"><img src="/assets/flags/sa.png" alt="id" border="0">Saudi Arabia</a></li>
                            <li><a href="#"><img src="/assets/flags/sg.png" alt="id" border="0">Singapore</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 py-3 d-flex content" id="main">
                </div>
            </div>
        </div>
    </div>
    <div class="footer mt-3">
        <div class="container">
            <div class="row d-flex justify-content-end row">
                <ul class="social-bookmarks">
                    <li class="social-logo jcodelivery"><a href="#">jcodelivery</a></li>
                    <li class="social-logo facebook"><a href="#">facebook</a></li>
                    <li class="social-logo instagram"><a href="#">instagram</a></li>
                    <li class="social-logo twitter"><a href="#">twitter</a></li>
                    <li class="social-logo youtube"><a href="#">youtube</a></li>
                </ul>
            </div>
            <div class="row d-block"><span> &#169;2018 J.CO DONUTS &#38; COFFEE. All rights reserved</span></div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/jco.js"></script>
</body>
</html>