<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J.CO Indonesia: The Best Donuts, Coffee, Yogurt, Sandwich, and Cronut</title>
    <link rel="shortcut icon" href="/assets/jco.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jco.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="align-items-center col-sm-3 d-flex flex-column">
                <a href="#" class="my-3">
                    <img src="/assets/jco.jpg" alt="jco">
                </a>
                <nav class="col-md-8 mx-auto">
                    <div class="countryname">INDONESIA</div>
                    <ul class="nav nav-list text-center">
                        <li>
                            <a href="#">Products </a>
                            <svg style="float:right" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve"><g><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></g></svg>
                            <ul class="dropdown-menu mt-0 p-1" id="product-list">
                            </ul>
                        </li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Franchise</a></li>
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">J.CO RUN</a></li>
                        <li><a href="#">SHOP NOW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-9">
                    <div class="owl-carousel owl-theme">
                        <div class="item"><h4>1</h4></div>
                        <div class="item"><h4>2</h4></div>
                        <div class="item"><h4>3</h4></div>
                        <div class="item"><h4>4</h4></div>
                        <div class="item"><h4>5</h4></div>
                        <div class="item"><h4>6</h4></div>
                        <div class="item"><h4>7</h4></div>
                        <div class="item"><h4>8</h4></div>
                        <div class="item"><h4>9</h4></div>
                        <div class="item"><h4>10</h4></div>
                        <div class="item"><h4>11</h4></div>
                        <div class="item"><h4>12</h4></div>
                    </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jco.js"></script>
</body>
</html>